name: Deno y Docker CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build: # He cambiado 'test' por 'build' para que el 'needs' de abajo funcione
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@61fe2df320078202e33d7d5ad347e7dcfa0e8f31 
        with:
          deno-version: v1.x

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A

  docker:
    name: Contenerizacion con Docker
    needs: [build] 
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Build Docker Image
        # CUIDADO: Si no tienes el archivo Dockerfile en la raíz, esto seguirá dando error
        run: docker build -t mi-app-deno .
